doctype html
html
  head
    title
    script(src="/js/lib/socket.io.js")
    script(src="/js/socket.js")
    script(src="/js/filter.js")
    script(src="/js/source.js")
    script(src="/js/audio.js")
  body
  script(type='text/javascript').
    var app = new App.Audio([
        "/sound/techno.wav",
        "/sound/Tarpey_Conglomerate.mp3",
    ]);